*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: aqua;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.painel{
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.painel button{
    padding: 15px;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    border-color:#fff;
    color: #fff;
}